/* style.css */
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #EAA221;
    --secondary-color: #EABE53;
    --light-bg: #fffcef;
    --dark-text: #1b292e;
    --light-text: #6c757d;
    --white: #ffffff;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
    padding: 15px 0;
}

/* Hero Section */
.hero-section {
    background: url('/images/homebg.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    padding-top: 80px;
}

/* Footer */
footer a {
    text-decoration: none;
}